* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: rgb(255, 255, 255);
  line-height: 1.6 ;
  height: 100vh;
  overflow: hidden;
}

.container-wide {
  width: 100%;
  height: 100%;

  /* CSS Smooth Scroll */

  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display:flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, .7);
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 0 1rem;
  padding: 1rem;

}

.navbar ul li a{
  text-decoration:none;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}




section h1{

font-size: 4rem;


}

section p {

  font-size: 1.5rem;
 
}

/* Section Images */

section#table{
background: url('https://images.unsplash.com/photo-1508549905740-bbd124aa53c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1378&q=80')
no-repeat center center/cover;

}


section#about {
background: linear-gradient(rgba(255,255,255,.50), rgba(255,255,255,.025)),url('https://images.unsplash.com/photo-1511306404404-ad607bd7c601?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') 
 no-repeat center center/cover;
 
}

section#imglinks {
background: url('https://images.unsplash.com/photo-1520361721456-fc0b295ec17f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80')
  no-repeat center center/cover;
}

section#contact {
background: url('https://images.unsplash.com/photo-1533160772606-ba8c6a74d336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80') 
no-repeat center center/cover;
}

